@page "/map"
@inject IJSRuntime JS

<h3>Google Map with Marker</h3>
<div id="map" style="height: 500px; width: 100%;"></div>

@code {
    private string ApiKey = "AIzaSyBa5at27T94r-T61umJRsYesTJNm2cSojY";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeGoogleMap", ApiKey);
        }
    }
}